<aside>
    {% assign active_link = page.url | remove: ".html" %}
    <nav>
    {% for section in site.data.toc %}

    {% if active_link == section.link %}
        <h2 class="active">{{ section.title }}</h2>
    {% else %}
        <h2><a href="{{ section.link }}">{{ section.title }}</a></h2>
    {% endif %}
    {% if layout.active_doc == section.link %}
        {% for item in section.docs %}
            {% if item.link == active_link %}
                <h3 class="active">{{ item.title }}</h3>
            {% else %}
                <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}
    </nav>
</aside>
